<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BioQuiz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <refresh-page
    *ngIf="viewRefreshPage"
    [message]="'Tempo de requisição excedido!'"
    [message-button]="'Tentar novamente'"
    [icon]="'warning'"
    (reload)="reload()">
  </refresh-page>

  <ion-card margin-bottom>
    <ion-card-header text-center>
      {{messageWelcome}} {{user?.name}}
      <hr class="line">
    </ion-card-header>
  </ion-card>

  <ion-card margin-top>
    <ion-card-header>
      Relatório
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card margin-top>
    <ion-card-header>
      Ola {{user?.name}}
    </ion-card-header>
    <ion-card-content>
      Você está com uma média semanal de {{weeklyAverage}}% {{messageReport}}
    </ion-card-content>
  </ion-card>
</ion-content>

<section class="after-splash" text-center *ngIf="!viewAfterSplash">
  <img src="assets/imgs/splash.png" />
</section>
