<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{params.name}} 10 questões</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section *ngIf="notQuestions">
    <ion-card>
      <ion-card-header text-center>
        Desculpe-nos :(
      </ion-card-header>
      <ion-card-content>
        Nenhuma questão de biologia da(o) {{params.name}} disponivel.
      </ion-card-content>
    </ion-card>
  </section>
  <section *ngIf="!notQuestions">
    <ion-slides class="slides" (ionSlideDidChange)="slideChanged()">
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 0">
            {{setId(i, question.id)}}
            <strong>1°) {{question.question}}</strong>
            <ion-list radio-group text-wrap text-left [(ngModel)]="questionsSimulation.q1">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 1">
            {{setId(i, question.id)}}
            <strong>2°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q2">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 2">
            {{setId(i, question.id)}}
            <strong>3°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q3">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 3">
            {{setId(i, question.id)}}
            <strong>4°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q4">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 4">
            {{setId(i, question.id)}}
            <strong>5°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q5">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 5">
            {{setId(i, question.id)}}
            <strong>6°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q6">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 6">
            {{setId(i, question.id)}}
            <strong>7°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q7">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 7">
            {{setId(i, question.id)}}
            <strong>8°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q8">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 8">
            {{setId(i, question.id)}}
            <strong>9°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q9">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide padding>
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="i == 9">
            {{setId(i, question.id)}}
            <strong>10°) {{question.question}}</strong>
            <ion-list radio-group text-wrap [(ngModel)]="questionsSimulation.q10">
            <ion-item>
              <ion-label>A) {{question.a}}</ion-label>
              <ion-radio value="a" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>B) {{question.b}}</ion-label>
              <ion-radio value="b"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>C) {{question.c}}</ion-label>
              <ion-radio value="c"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>D) {{question.d}}</ion-label>
              <ion-radio value="d"></ion-radio>
            </ion-item>
          </ion-list>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <button ion-button (click)="finished()" *ngIf="!!viewButton">Terminei</button>
  </section>
</ion-content>

<section class="tuturial" *ngIf="viewAlreadyIn" text-center>
  <img src="assets/imgs/tuturial-questions.png">
  <p text-left>
    <button ion-button (click)="gotItTuturial()" class="floating-button">entendi</button>
  </p>
</section>
