<ion-header>
  <ion-navbar color="primary">
    <ion-title>Redefina sua senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide>
            Digite aqui o seu e-mail:
            <form (ngSubmit)="sendEmail()" #resetPassword1Form="ngForm">
              <ion-list>
                <ion-item>
                  <ion-label floating>Email</ion-label>
                  <ion-input type="email" [(ngModel)]="user.email" name="email" required autocomplete="true"></ion-input>
                </ion-item>
                <ion-item margin-top>
                  <button ion-button block full padding [disabled]="!resetPassword1Form.form.valid">Enviar</button>
                </ion-item>
              </ion-list>
            </form>
          </ion-slide>
          <ion-slide *ngIf="!!step2">
            Digite aqui o token recebido no seu e-mail:
            <form (ngSubmit)="sendToken()" #resetPassword2Form="ngForm">
              <ion-list>
                <ion-item>
                  <ion-label floating>Token</ion-label>
                  <ion-input type="text" [(ngModel)]="user.token" name="token" required autocomplete="true"></ion-input>
                </ion-item>
                <ion-item margin-top>
                  <button ion-button block full padding [disabled]="!resetPassword2Form.form.valid">Enviar</button>
                </ion-item>
              </ion-list>
            </form>
          </ion-slide>
          <ion-slide *ngIf="!!step3">
            Digite sua nova senha:
            <form (ngSubmit)="sendPassword()" #resetPassword3Form="ngForm">
              <ion-list>
                <ion-item>
                  <ion-label floating>Password</ion-label>
                  <ion-input type="password" [(ngModel)]="user.password" name="password" required autocomplete="true"></ion-input>
                </ion-item>
                <ion-item margin-top>
                  <button ion-button block full padding [disabled]="!resetPassword3Form.form.valid">Enviar</button>
                </ion-item>
              </ion-list>
            </form>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <refresh-page
          *ngIf="viewRefreshPage"
          [message]="'Tempo de registro excedido!'"
          [message-button]="'Tentar novamente'"
          [icon]="'warning'"
          (reload)="reload()">
        </refresh-page>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
